<HTML ng-app="myApp">
<HEAD> 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</HEAD>
<BODY>



<div class="container">
	<ul class="list-unstyled nav navbar-nav navbar-default">
		<li><a href="#/"> Home </a></li>
		<li><a href="#/about"> About </a></li>
		<li><a href="#/service"> Service </a></li>
		<li><a href="#/xyz"> Nowhere </a></li>
	</ul>
</div>


<div ng-view> </div>

<user-detail> </user-detail>

<div ng-controller="userController" class="container">
	<ul class="list-group">
		<li ng-repeat="user in users | orderBy: 'lastName'" class="list-group-item">
			<img ng-src="{{user.image}}">
			<em class="pull-right">
				<h2> 
					<p>{{user.firstName | dopeFilter: user.isFemale}} {{user.lastName}} </p>
				</h2>
				<p> Company: {{user.company}} </p>
			</em>
			<section ng-controller="SectionController">
				<ul class="nav nav-pills">
					<li ng-class="{active:isSelected(1)}"><a href="" ng-click="selectedTab(1)"> Descriptions </a></li>
					<li ng-class="{active:isSelected(2)}"><a href="" ng-click="selectedTab(2)"> Comments </a></li>
				</ul>
				<div class="panel" ng-show="isSelected(1)">
					{{user.firstName}} works for {{user.company}}
				</div>
				<div class="panel" ng-show="isSelected(2)">
					<ul>
						<li class="well" ng-repeat="comment in user.comments">
							<blockquote>
								{{comment.body}}<br/><cite>{{comment.author}}</cite>
							</blockquote>
						</li>
					</ul>
					<br/>
					<form name="form" class="form" ng-submit="formSubmit(user)" ng-controller="FormController">
						<textarea class="form-control" placeholder="Your comment" ng-model="comment.body" style="resize: none"></textarea><br/>
						<input type="email" class="form-control" placeholder="Your Email" required ng-model="comment.author">
						<br/>
						
						<input type="submit" value="Submit" class="btn btn-success" ng-disabled="form.$invalid">
						</center>
					</form>
				</div>
			</section>
		</li>
	</ul>
</div>
	
	

	
	
<script type="text/javascript" src="js/app.js"></script>
</BODY>

</HTML>