.ng-valid.ng-dirty textarea{
	border: 1px green solid;
}

.ng-invalid.ng-dirty textarea{
	border: 1px red solid;
}

.ng-valid.ng-dirty[type="email"]{
	border: 1px green solid;
}

.ng-invalid.ng-dirty[type="email"]{
	border: 1px red solid;
}